{% extends 'base.html' %}
{% block content %}

<h1>Lens List</h1>

{% for lens in lens_list %}
  <div class="card">
    <div class="card-content">
        <span class="card-title">{{ lens.make }} {{ lens.model }}</span>
        <p>Lens Type: {{ lens.lens_type }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'main_app:lenses_detail' lens.id %}">View</a>
        <a href="{% url 'main_app:lenses_update' lens.id %}">Edit</a>
        <a href="{% url 'main_app:lenses_delete' lens.id %}">Delete</a>
    </div>
  </div>
{% endfor %}

{% endblock %}