{% extends 'base.html' %}
{% block content %}

<h1>Camera List</h1>

{% for camera in camera_list %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ camera.make }} {{ camera.model }}</span>
      <p>Body Type: {{ camera.body_type }}</p>
      <p>Lens Mount: {{ camera.lens_mount }}</p>
      <p>Sensor Size: {{ camera.sensor_size }}</p>
      <p>Sensor Megapixels: {{ camera.sensor_mp }}</p>
      <a href="{% url 'main_app:detail' camera.id %}" class="btn-floating"><i class="material-icons">arrow_forward</i></a>
    </div>
  </div>
{% endfor %}

{% endblock %}