{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KitBuilder</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, { hover: true, coverTrigger: false });
    });
  </script>
</head>
<body>
  <header class="navbar-fixed">
    <ul id="kits-dropdown" class="dropdown-content">
      <li><a href="{% url 'main_app:kits_index' %}">My Kits</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'main_app:kits_create' %}">Add Kit</a></li>
    </ul>
    <ul id="cameras-dropdown" class="dropdown-content">
      <li><a href="{% url 'main_app:cameras_index' %}">My Cameras</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'main_app:cameras_create' %}">Add Camera</a></li>
    </ul>
    <ul id="lenses-dropdown" class="dropdown-content">
      <li><a href="{% url 'main_app:lenses_index' %}">My Lenses</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'main_app:lenses_create' %}">Add Lens</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;KitBuilder</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'main_app:about' %}">About</a></li>
          {% if user.is_authenticated %}

          <li><a class="dropdown-trigger" href="#!" data-target="kits-dropdown">Kits<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="cameras-dropdown">Cameras<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="lenses-dropdown">Lenses<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="{% url 'main_app:logout' %}">Log Out</a></li>

          {% else %}

          <li><a href="{% url 'main_app:signup' %}">Sign Up</a></li>
          <li><a href="{% url 'main_app:login' %}">Log In</a></li>

          {% endif %}
        </ul>
      </div>
    </nav>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, options);
      });
    </script>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 KitBuilder &nbsp;</div>
  </footer>
</body>
</html>